@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "../../variables/**/*";


.l-page
{
    margin: 0 auto;
    margin-top: 3em;
    width: 100%;
    
    //@include clearfix;
    @include breakpoint($tab, true)
    {
        width:$tab;       
	.l-region--header
    {
	@include grid-span(12,1);
	}
    .l-region--sidebar
        {
	@include grid-span(12,1);
	}
    .l-region--detail
        {
	@include grid-span(12,1);
	}
	.l-region--footer
        {
	@include grid-span(12,1);
	}
    }
	
        
    @include breakpoint($desk, true)
    {
        width:$desk;       
	.l-region--header
        {
	@include grid-span(12,1);
        background-color: blue;
	}
        .l-region--sidebar
        {
	@include grid-span(2,11);
        background-color: white;
	}
        .l-region--detail
        {
	@include grid-span(10,1);
        background-color: pink;
	}
	.l-region--footer
        {
	@include grid-span(12,1);
        background-color: green;
	}
    }
}
		