@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "../../variables/**/*";


.l-page
{
    margin: 0 auto;
    margin-top: 2.5em;
    width: 100%;
    
    //@include clearfix;
    @include breakpoint($tab, true)
    {
        width:$tab;       
	.l-region--header
    {
	@include grid-span(12,1);
	}
    .l-region--sidebar
        {
	@include grid-span(3,10);
	}
    .l-region--detail
        {
	@include grid-span(9,1);
	}
	.l-region--footer
        {
	@include grid-span(12,1);
	clear: both;
	}
    }
        
    @include breakpoint($desk, true)
    {
        width:$desk;       
	.l-region--header
        {
	@include grid-span(12,1);
        background-color: #e9efe0;
	}
        .l-region--sidebar
        {
	@include grid-span(3,10);
        background-color: #e9efe0;
	}
	//Fixierte Darstellung des Menues (Desktop)
	.l-region--sidebar .menu 
	{
//	position: fixed;
	}
        .l-region--detail
        {
	@include grid-span(9,1);
        background-color: #e9efe0;
	}
	.l-region--footer
        {
	@include grid-span(12,1);
        background-color: #e9efe0;
	clear: both;
	}
    }
}

body {
    background-color: #e9efe0;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

.pane-page-logo {
    margin-left: 2.5em;
    width: 8.5em;
    height: auto;
    position: fixed;
}

.l-region--sidebar .pane-menu-menu-hauptmen {
    margin-top: 9em;
    position: fixed;
}

.l-region--sidebar .pane-menu-menu-hauptmen .menu a {
    background: #000024;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.l-region--sidebar .pane-menu-menu-hauptmen .menu .leaf {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 30px;
}

.l-region--sidebar .pane-menu-menu-hauptmen .menu .active-trail a {
    background: #FFCC01;
}

.l-region--sidebar .pane-menu-menu-hauptmen  .menu a:hover {
    text-decoration: none;
    background: #FFCC01;
    color: black;
}

.l-region--sidebar .pane-menu-menu-impressum .menu {
    position: fixed; 
    bottom: 0px; 
    width: 100%;
}

.l-region--sidebar .pane-menu-menu-impressum .menu .leaf {
    list-style-image: none;
    list-style-type: none;
}

.l-region--sidebar .pane-menu-menu-impressum a {
    text-decoration: none;
    color: grey;
}

.l-region--sidebar .pane-menu-menu-impressum a:hover {
    text-decoration: underline;
}

.views-row {
    background: white;
    margin-bottom: 1.5em;
    border-top: 0.33em solid #000024;
}

.views-row-1 .node__title {
    position: absolute;
    top: 0;
    z-index: 1;
}

.views-row-1 header {
    position: relative;
}

.views-row-1 .node__content .field--name-body {
    background: #000024;
    color: white;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    width: 100%;
    position: absolute;
    bottom: 0;
}    

.views-row-1 .node__content {
    padding: 0;
    position: relative;
}

.node__content {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.node__title {
    margin: 0;
    //-webkit-margin-before: 0;
    //-webkit-margin-after: 0;
    //-webkit-margin-start: 0;
    //-webkit-margin-end: 0;
    font-size: 1em;
}

.node__title a {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.33em;
    background-color: #000024;
    color: white;
    text-decoration: none;
}

.form-submit {
    background-color: #FFCC01;
    padding: 3px 10px 3px 10px; //Oben, Rechts, Unten, Links
    border: 0px;
    margin-left: -0.25em;
    color: white;
    font-weight: bold;
}

.pane-search-form {
    position: fixed;
    margin-left: 2.5em;
    margin-top: -2em;
}


